.button {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  padding: 11px;
  grid-area: button;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    padding: 12px 28px;
  }
}

.button--secondary {
  background-color: #f2f2f2;
  color: #444444;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $desktop-width) {
    padding: 10px;
  }
}

.button--primary {

  @media (min-width: $tablet-width) {
    display: block;
    margin-left: 61px;
    margin-right: 329px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 63px;
    margin-right: 911px;
    margin-top: 54px;
  }
}

.button--catalog {
  font-size: 16px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 244px;
}

.button--form {
  padding: 9px;
  font-size: 16px;
  line-height: 20px;
  border: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
}


.button:not([disabled]):hover {
  background-color: #5eaa2f;
}

.button:focus {
  background-color: #5eaa2f;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  opacity: 0.5;
  cursor: none;
}


.button--secondary:not([disabled]):hover,
.button--secondary:focus {
  background-color: #ebebeb;
}

.button--secondary:active {
  opacity: 0.3;
  color: rgba(68, 68, 68, 0.3);
}

.button--secondary:disabled {
  opacity: 0.5;
  cursor: none;
}
