.button {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  padding: 11px;
  grid-area: button;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding: 12px 28px;
  }
}

.button--secondary {
  background-color: #f2f2f2;
  color: #444444;
}
