.copyright {
  @media (min-width: $tablet-width) {
    padding-top: 18px;
  }
}

.copyright__link {
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
  color: #444444;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 28px;

  &::after {
    display: inline-block;
    content: "";
    mask: url("../img/stack.svg#html-academy");
    background-color: #666666;
    width: 27px;
    height: 34px;
  }
}

.copyright__link:hover,
.copyright__link:focus {
  &::after {
    background-color: #68b738;
  }
}

.copyright__link:active {
  opacity: 0.3;
}
