.example {
  position: relative;
  background-color: #eaeaea;
  padding: 16px 21px 35px;
  display: grid;
  row-gap: 20px;
  column-gap: 32px;
  max-width: $max-width-mobile;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    padding-left: 31px;
    padding-right: 30px;
    padding-top: 34px;
    padding-bottom: 0;
    column-gap: 42px;
    row-gap: 53px;
    max-width: $max-width-tablet;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 24px;
    padding-bottom: 70px;
    grid-template-columns: 162px 162px 1fr;
    max-width: $max-width-desktop;
  }
}

.example::before {
  position: absolute;
  content: " ";
  background-color: #eaeaea;
  width: 100vw;
  height: 100%;
  z-index: -1;
  right: 0;
  left: calc((100% - 100vw) / 2);

  @media (min-width: $tablet-width) {
    height: 462px;
    bottom: 0;
    z-index: 0;
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
  }
}

.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
  grid-column: 1 / 3;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 5;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 3;
    margin-top: 0;
    margin-bottom: 92px;
  }
}

.example__description {
  color: #444444;
  grid-column: 1 / 3;
  margin-top: 8px;
  margin-bottom: 0;


  @media (min-width: $tablet-width) {
    grid-column: 1 / 5;
    font-size: 16px;
    line-height: 24px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 4;
    z-index: 3;
    margin-top: 0;
    padding-right: 185px;
    margin-bottom: 17px;
  }
}

.example__list {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-self: center;
  gap: 9px;
  max-width: 124px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    min-width: 162px;
    z-index: 2;
    margin-top: 0;
    margin-bottom: 8px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.example__list::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: -13px;
  bottom: 14px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    top: 0;
    bottom: 5px;
  }
}

.example__number {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin-left: 0;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    margin-top: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 16px;
  }
}

.example__outline {
  font-family: inherit;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: #eaeaea;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 19px;
  margin-left: 18px;
  align-self: center;
  z-index: 2;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
    padding-left: 7px;
    padding-right: 7px;
    margin-right: 10px;
    margin-left: 10px;
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
  }
}

.example__slider {
  display: flex;
  justify-content: center;
  grid-column: 1 / 3;
  max-width: 280px;
  justify-self: center;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 5;
    z-index: 2;
    max-width: 560px;
    padding-top: 41px;
    padding-bottom: 93px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 4 / 5;
    grid-row: 1 / 5;
    padding: 0;
  }
}

.example__total {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  grid-column: 1 / 3;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    grid-column: 3 / 5;
    font-size: 20px;
    text-align: end;
    margin-left: 110px;
    margin-top: 8px;
    line-height: 29px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 3;
    text-align: start;
    padding: 0;
    z-index: 2;
    margin: 0;
  }
}

.example__summ {
  @media (min-width: $desktop-width) {
    margin-left: 62px;
  }
}

.example__button {
  position: absolute;
  padding: 0;
  border: none;
  width: 4px;
  height: 256px;
  border-radius: 2px;
  background-color: currentColor;
  color: #666666;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;

  @media (min-width: $tablet-width) {
    height: 512px;
  }

  @media (min-width: $desktop-width) {
    left: auto;
  }

  &::before {
    position: absolute;
    content: " ";
    mask: url("../img/stack.svg#slider-button");
    background-color: currentColor;
    transform: translate(-50%, -50%);
    z-index: 8;
    width: 24px;
    height: 18px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    border: 2px solid currentColor;
    border-radius: 20px;
    color: inherit;
    box-sizing: border-box;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
  }
}

.example__button:hover,
.example__button:focus {
  color: #68b738;

  &::after {
    color: #68b738;
  }
}

.example__button:active {
  color: #5eaa2f;
  opacity: 0.6;
}

.example__image {
  overflow: hidden;
  object-fit: none;

  &--fat {
    object-position: left;
  }

  &--slim {
    object-position: right;
  }
}
