.footer {
  background-color: #f2f2f2;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px 20px 20px;


  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding: 37px 30px;
    justify-content: space-between;
    max-width: $max-width-tablet;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 48px;
    align-items: center;
    max-width: $max-width-desktop;
  }
}

@media (max-width: 767px) {
  .footer__item:not(:last-child) {
    border-bottom: 1px solid #d9d9d9;
  }
}

.footer__item {
  padding-top: 20px;
  padding-bottom: 19px;
  width: 100%;
  text-align: center;
  line-height: 100%;
  max-width: $max-width-mobile;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: auto;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 20px;
  }
}

.footer__item:not(:last-child) {
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
  }
}
