.form {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  padding: 17px 20px 11px;
  display: flex;
  flex-direction: column;
  max-width: $max-width-mobile;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 52px 67px 21px 70px;
    max-width: $max-width-tablet;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 110px 46px;
    max-width: $max-width-desktop;
  }
}

.form__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: #000000;
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 5px;
  }
}

.form__slogan {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 13px;
  padding-right: 8px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 150%;
    padding-right: 242px;
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 16px;
    max-width: 30%;
    padding-right: 10px;
  }
}

.form__label,
.form__input {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__legend {
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  padding-top: 20px;
  padding-left: 0;
  margin-bottom: 8px;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__legend--comments {
  padding-top: 2px;
  padding-right: 23px;
  margin-bottom: 13px;
  background-color: #ffffff;
  margin-left: -20px;
  padding-left: 20px;

  @media (min-width: 768px) {
    margin-bottom: 51px;
    padding-right: 39px;
    padding-left: 39px;
    margin-left: -40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 77px;
  }
}


.form__legend--add {
  padding-top: 18px;
  margin-bottom: 13px;
  background-color: #ffffff;
  padding-right: 23px;
  margin-left: -20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
    padding-right: 41px;
    padding-left: 39px;
    margin-left: -40px;
    grid-area: title;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 36px;
  }
}

.form__legend--contacts {
  padding-top: 19px;
  margin-right: 79px;
  background-color: #ffffff;
  margin-left: -20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 51px;
    padding-right: 39px;
    padding-left: 39px;
    margin-left: -40px;
    padding-top: 18px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 12px;
    margin-bottom: 78px;
  }
}

.form__group {
  display: flex;
  flex-direction: column;
  border-style: none;
  margin: 0;
  padding-bottom: 6px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 26px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 36px;
    padding-top: 0;
  }
}

.form__group--radio {
  position: relative;
  padding-top: 30px;
  padding-bottom: 11px;

  @media (min-width: $tablet-width) {
    border: 1px solid #e7e7e7;
    padding-bottom: 5px;
    margin-bottom: 56px;
    padding-left: 28px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 29px;
    padding-bottom: 4px;
  }
}

@media (max-width: 767px) {
  .form__group--radio::before {
    position: absolute;
    content: "";
    width: 100vw;
    height: 1px;
    border-top: 1px solid #d9d9d9;
    top: 0;
    right: -20px;
  }

  .form__group--radio::after {
    position: absolute;
    content: "";
    width: 100vw;
    height: 1px;
    border-top: 1px solid #d9d9d9;
    bottom: 8px;
    right: -20px;
  }
}

.form__input {
  position: relative;
  padding: 11px 0 9px 20px;
  min-height: 24px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  border: none;
  outline: 1px solid #e7e7e7;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 11px 20px;
  }
}

.form__input:hover {
  outline: 1px solid #cdcdcd;
}

.form__input:focus {
  outline: 2px solid #444444;
}

.form__input:invalid:not(:placeholder-shown) {
  outline: 2px solid #ff8282;
}

.form__input:disabled {
  opacity: 0.5;
  cursor: none;
}


.form__input[type="number"]::-webkit-outer-spin-button,
.form__input[type="number"]::-webkit-inner-spin-button {
  /* stylelint-disable-next-line property-no-vendor-prefix*/
  -webkit-appearance: none;
}

.form__input[type="number"],
.form__input[type="number"]:hover,
.form__input[type="number"]:focus {
  appearance: none;
  /* stylelint-disable-next-line property-no-vendor-prefix*/
  -moz-appearance: textfield;
}

.form__input[type="email"] {
  padding-left: 15px;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
  }
}

.form__input[type="tel"] {
  padding-left: 15px;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
  }
}

.form__label--email {
  &::after {
    position: absolute;
    content: " ";
    mask: url("../img/stack.svg#mail");
    background-color: #000000;
    width: 20px;
    height: 20px;
    right: 15px;
    top: 14px;
    box-sizing: border-box;

    @media (min-width: $tablet-width) {
      right: 17px;
      top: 16px;
    }

    @media (min-width: $desktop-width) {
      width: 18px;
      height: 18px;
      right: 20px;
      top: 15px;
    }
  }

  &:hover {
    &::after {
      background-color: #222222;
    }
  }

  &:focus-within {
    &::after {
      background-color: #68b738;
    }
  }
}

.form__label--phone {
  &::after {
    position: absolute;
    content: " ";
    mask: url("../img/stack.svg#phone");
    background-color: #000000;
    width: 15px;
    height: 15px;
    right: 17px;
    top: 15px;

    @media (min-width: $tablet-width) {
      width: 17px;
      height: 17px;
    }
  }

  &:hover {
    &::after {
      background-color: #222222;
    }
  }

  &:focus-within {
    &::after {
      background-color: #68b738;
    }
  }
}

.form__input--comments {
  min-height: 130px;
  padding: 7px 14px 10px;

  @media (min-width: $tablet-width) {
    min-height: 150px;
    padding: 11px 18px;
    width: auto;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 16px;
  }
}

.form__label {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 16px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    gap: 15px;
  }
}

.form__label--radio {
  margin-bottom: 24px;
  padding-left: 45px;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
  }
}

.form__label--checkbox {
  padding-left: 45px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
    margin-bottom: 22px;
  }
}

.form__label--email,
.form__label--phone {
  gap: 10px;

  @media (min-width: $tablet-width) {
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    gap: 21px;
  }
}

.form__label--radio::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
  left: 0;
  cursor: pointer;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form__input[type="radio"]:checked + .form__label--radio::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  background-color: #68b738;
  border-radius: 50%;
  box-shadow: inset 0 0 0 8px #ffffff;
  left: 0;
  cursor: pointer;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    box-shadow: inset 0 0 0 10px #ffffff;
  }
}

.form__input:hover + .form__label--checkbox::before {
  border: 1px solid #bababa;
}

.form__input:focus + .form__label--checkbox::before {
  border: 1px solid #bababa;
}

.form__input:hover + .form__label--radio::before {
  border: 1px solid #bababa;
}

.form__input:focus + .form__label--radio::before {
  outline: 1px solid #bababa;
}

.form__input:active + .form__label--radio {
  opacity: 0.3;
}

.form__input:active + .form__label--checkbox {
  opacity: 0.3;
}

.form__input:disabled ~ .form__label {
  opacity: 0.3;
  cursor: none;
}

.form__label--checkbox::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  left: 0;
  cursor: pointer;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form__input[type="checkbox"]:checked + .form__label--checkbox::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background: url("../img/stack.svg#tick");
  background-size: 18px 14px;
  background-repeat: no-repeat;
  background-position: 50%;
  border: 1px solid #cdcdcd;
  left: 0;
  cursor: pointer;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    background-size: 24px 19px;
  }
}

.form__footnote {
  font-family: "Lato", "Arial", sans-serif;
  text-align: center;
  margin-top: 22px;

  @media (min-width: $tablet-width) {
    grid-area: note;
    text-align: start;
    font-size: 16px;
    line-height: 16px;
    margin-top: 15px;
    margin-bottom: 22px;
  }
}

.form__group--contacts {
  @media (min-width: $tablet-width) {
    padding-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 78px;
  }
}

.form__group--contacts::before {
  position: absolute;
  content: "";
  border: 2px solid #68b738;
  width: 100vw;
  z-index: -1;
  top: -46px;
  left: calc((100% - 100vw) / 2);

  @media (min-width: $tablet-width) {
    top: -64px;
  }

  @media (min-width: $desktop-width) {
    top: -91px;
  }
}

.form__group--comments::before {
  position: absolute;
  content: "";
  border: 2px solid #68b738;
  width: 100vw;
  z-index: -1;
  top: -24px;
  left: calc((100% - 100vw) / 2);

  @media (min-width: $tablet-width) {
    top: -65px;
  }

  @media (min-width: $desktop-width) {
    top: -91px;
  }
}

.form__group--add {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-areas:
      "title title"
      "checkbox checkbox"
      "button note";
    column-gap: 58px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 80px;
    grid-template-columns: 1fr 1fr;
  }
}

.form__group--add::before {
  position: absolute;
  content: "";
  border: 2px solid #68b738;
  width: 100vw;
  z-index: -1;
  top: -26px;
  left: calc((100% - 100vw) / 2);

  @media (min-width: $tablet-width) {
    top: -53px;
  }
}

.form__checkbox {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    grid-area: checkbox;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 56px;
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    column-gap: 78px;
    padding-top: 26px;
    margin-bottom: 43px;
  }
}

.form__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding-top: 25px;
  }
}
