.gift {
  position: relative;
  background-image: url("../img/cat-bag-mobile.jpg");
  background-color: #70b447;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 35px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/cat-bag-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/cat-bag-tablet.jpg");
    margin-top: 66px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cat-bag-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/cat-bag-desktop.jpg");
    background-size: 245px 289px;
    grid-column: 2 / 3;
    grid-row: 2 / 6;
    margin-top: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cat-bag-desktop@2x.jpg");
    }
  }
}

.gift__slogan {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-top: 0;
  padding-top: 186px;
  padding-bottom: 43px;
  text-align: center;
  padding-left: 59px;
  padding-right: 59px;

  @media (min-width: $tablet-width) {
    margin-left: 422px;
    padding-top: 71px;
    padding-bottom: 69px;
    padding-left: 0;
    padding-right: 120px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    padding: 185px 31px 0;
    margin: 0;
    text-align: center;
  }
}

.gift::before {
  position: absolute;
  content: "";
  background-image: url("../img/stack.svg#gift");
  width: 78px;
  height: 80px;
  top: 58px;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    right: 473px;
  }

  @media (min-width: $desktop-width) {
    right: -4px;
    top: -96px;
  }
}
