.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  min-height: 65px;
  position: relative;
  padding: 10px 20px;

  @media (min-width: $desktop-width) {
    min-height: 120px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
