.hero {
  position: relative;
  color: #ffffff;
  background-image: url("../img/cat-mobile.jpg");
  background-size: 320px 302px;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  max-width: $max-width-mobile;
  margin: 0 auto;


  @media (min-resolution: 2dppx) {
    background-image: url("../img/cat-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    padding-top: 30px;
    padding-left: 57px;
    padding-right: 75px;
    padding-bottom: 14px;
    background-image: none;
    text-align: start;
    min-height: 810px;
    display: block;
    max-width: $max-width-tablet;
  }

  @media (min-width: $desktop-width) {
    padding-left: 107px;
    padding-bottom: 250px;
    padding-top: 71px;
    min-height: auto;
    max-width: $max-width-desktop;
  }
}


.hero__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  margin-top: 17px;
  margin-bottom: 20px;
  z-index: 5;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    margin: 32px 63px 41px 62px;
  }

  @media (min-width: $desktop-width) {
    width: 40%;
    margin-top: 22px;
  }
}

.hero__slogan {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 302px;
  z-index: 4;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 50px;
    margin-left: 63px;
  }

  @media (min-width: $desktop-width) {
    width: 40%;
    margin-bottom: 40px;
  }
}

.hero__image {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 167px;

  @media (min-width: $tablet-width) {
    left: 0;
    top: 260px;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    left: 228px;
    top: 12px;
  }
}

.hero::after {
  position: absolute;
  content: "";
  width: 200%;
  background-color: #62a53b;
  height: 302px;
  right: 0;
  left: -50%;
  top: 0;
  z-index: -1;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
