.logo:hover,
.logo:focus {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo__image {
  @media (min-width: $tablet-width) {
    width: 142px;
    height: 26px;
  }
}

.logo-letter {
  padding-top: 3px;
  width: 101px;
  height: 18px;
  justify-self: center;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
