.main {
  overflow: hidden;
}

@media (min-width: $desktop-width) {
  .main--index::before {
    position: absolute;
    content: "";
    width: 100vw;
    height: 694px;
    background: url("../img/cat-desktop.jpg") #61a539;
    background-repeat: no-repeat;
    top: -2px;
    z-index: -2;
    left: calc(100vw / 2);
  }
}
