.product-add-card {
  padding-top: 13px;
  padding-bottom: 19px;
  border-top: 1px solid #cdcdcd;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    display: grid;
    grid-template-areas:
      "title feature"
      "button button";
    padding: 26px 37px 28px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    display: grid;
    min-width: 895px;
    grid-template-areas: "title feature button";
    grid-template-columns: 321px 329px auto;
    align-items: center;
    padding-top: 15px;
    padding-left: 0;
    padding-bottom: 16px;
    border-left: none;
    border-right: none;
  }
}

.product-add-card:last-of-type {
  border-bottom: 1px solid #cdcdcd;
}

.product-add-card__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: #222222;
  margin-top: 0;
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    grid-area: title;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.product-add-card__feature {
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  margin-bottom: 16px;
  border-spacing: 0;

  tr {
    display: flex;
    justify-content: space-between;

    @media (min-width: $tablet-width) {
      justify-content: flex-end;
      gap: 52px;
    }

    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 78px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 125%;
    grid-area: feature;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
