.product-add-card__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.product-add-card__feature {
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}
