.product-card {
  display: grid;
}

.product-card__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}

.product-card__feature {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.product-card__note {
  font-size: 14px;
  line-height: 18px;
}
