.products-add {
  position: relative;
  padding: 20px 20px 18px;
  max-width: $max-width-mobile;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 48px 31px 58px;
    max-width: $max-width-tablet;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    padding: 45px 110px 86px;
    column-gap: 41px;
    max-width: $max-width-desktop;
    margin: 0 auto;
    grid-template-columns: auto 245px;
  }
}

.products-add__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #000000;
  margin-top: 5px;
  margin-bottom: 36px;
  padding-left: 20px;
  margin-left: -20px;
  background-color: #ffffff;
  margin-right: 21px;
  display: inline-block;
  padding-right: 21px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    margin-left: 0;
    padding-right: 36px;
    padding-left: 36px;
    margin-bottom: 82px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -41px;
    padding-left: 40px;
    margin-bottom: 84px;
  }
}

.products-add::after {
  position: absolute;
  content: "";
  border-top: 2px solid #68b738;
  width: 100vw;
  top: 40px;
  left: calc((100% - 100vw) / 2);
  z-index: -1;

  @media (min-width: $tablet-width) {
    top: 75px;
  }

  @media (min-width: $desktop-width) {
    top: 73px;
  }
}
