.product-card {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "image title"
    "image feature"
    "button button";
  padding: 19px 20px 25px;
  justify-content: center;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 162px 36px 38px;
    background-color: #f2f2f2;
    box-sizing: border-box;
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding: 154px 34px 46px 36px;
  }
}

.product-card__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  padding-right: 64px;
  margin-top: 0;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 120%;
    padding-left: 47px;
    padding-right: 47px;
    text-align: center;
    margin-bottom: 11px;
  }

  @media (min-width: $desktop-width) {
    line-height: 105%;
    padding-left: 12px;
    padding-right: 15px;
    margin-bottom: 18px;
  }
}

.product-card__link--image {
  grid-area: image;
  justify-self: center;
  align-self: center;
  line-height: 0;
  position: absolute;
  top: 8px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -50px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: -57px;
  }
}

.product-card__link--imagebig {
  position: absolute;
  top: 2px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -66px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: -67px;
  }
}

.product-card__link--title {
  grid-area: title;
}

.product-card__feature {
  display: table-column-group;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  grid-area: feature;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin-bottom: 30px;
  }
}

.product-card__table {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin-left: 3px;
    margin-right: 2px;
    margin-top: 1px;
  }
}

.product-card__line {
  position: relative;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 50%;
  }
}

.product-card__value {
  text-align: end;
  padding: 0;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 9px;
    padding-top: 7px;
  }
}

.product-card__name {
  text-align: start;
  font-weight: 400;
  padding: 0;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 5px;
    padding-top: 11px;
  }
}

.product-card__note {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 77px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
    margin-right: -1px;
    margin-left: -2px;
    margin-bottom: 86px;
  }
}

.product-card--more {
  display: flex;
  flex-direction: column;
  padding-top: 79px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 162px;
    padding-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 148px;
    padding-bottom: 40px;
  }

  .product-card__title {
    padding: 0;
    text-align: center;
    margin-bottom: 8px;

    @media (min-width: $tablet-width) {
      margin-bottom: 22px;
      padding-left: 36px;
      padding-right: 36px;
      line-height: 22px;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
    }
  }

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    border: 2px solid #f2f2f2;
  }
}

.product-card--more::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 38px;
  border: 1px solid #d3d3d3;
  transform: rotate(-180deg);
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 60px;
    top: 82px;
  }

  @media (min-width: $desktop-width) {
    top: 76px;
  }
}

.product-card--more::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 38px;
  border: 1px solid #d3d3d3;
  transform: rotate(90deg);
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 60px;
    top: 82px;
  }
}
