.products {
  max-width: $max-width-mobile;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    row-gap: 141px;
    column-gap: 60px;
    padding: 24px 30px 17px;
    justify-content: center;
    max-width: $max-width-tablet;
  }

  @media (min-width: $desktop-width) {
    padding: 26px 110px 2px;
    column-gap: 80px;
    row-gap: 143px;
    max-width: $max-width-desktop;
  }
}

.products__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: #000000;
  margin: 0;
  padding: 27px 20px 42px;

  @media (max-width: 767px) {
    border-top: 1px solid #d9d9d9;
  }

  @media (min-width: $tablet-width) {
    margin-top: 38px;
    margin-bottom: 24px;
    font-size: 60px;
    width: 100%;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 31px;
    margin-bottom: 30px;
  }
}
