.programs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
    padding-left: 31px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 110px;
    padding-right: 110px;
  }
}
