.social {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  line-height: 100%;
  box-sizing: border-box;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    padding-top: 23px;
    gap: 26px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 21px;
    padding-left: 39px;
  }
}

.social__link--vk {
  &::after {
    display: block;
    content: "";
    mask: url("../img/stack.svg#vk");
    background-color: #666666;
    width: 28px;
    height: 22px;

    @media (min-width: $tablet-width) {
      width: 27px;
      height: 17px;
    }
  }
}

.social__link:hover {
  &::after {
    background-color: #68b738;
  }
}

.social__link:focus {
  &::after {
    background-color: #68b738;
  }
}

.social__link:active {
  &::after {
    background-color: rgba(104, 183, 56, 0.3);
  }
}

.social__link--youtube {
  &::after {
    display: block;
    content: "";
    mask: url("../img/stack.svg#youtube");
    background-color: #666666;
    width: 28px;
    height: 22px;

    @media (min-width: $tablet-width) {
      width: 24px;
      height: 19px;
    }
  }
}

.social__link--telegram {
  &::after {
    display: block;
    content: "";
    mask: url("../img/stack.svg#tg");
    background-color: #666666;
    width: 28px;
    height: 22px;

    @media (min-width: $tablet-width) {
      width: 20px;
      height: 17px;
      margin-left: 4px;
    }
  }
}
