body {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 129%;
  color: #000000;
  background-color: #ffffff;
  margin: 0 auto;
  min-width: 320px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
